<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="source" value="C:\test\source\SomeFolder ( something &amp; something )"/>
    <add key="file" value="C:\test\PDFToFind.txt"/>
    <add key="destination" value="C:\test\destination\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>